@font-face {
	font-family: 'icons';
	src:url('fonts/icons.eot?-d8puwt');
	src:url('fonts/icons.eot?#iefix-d8puwt') format('embedded-opentype'),
		url('fonts/icons.woff?-d8puwt') format('woff'),
		url('fonts/icons.ttf?-d8puwt') format('truetype'),
		url('fonts/icons.svg?-d8puwt#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniE600:before {
	content: "\e600";
}
.icon-uniE601:before {
	content: "\e601";
}
.icon-uniE602:before {
	content: "\e602";
}
.icon-uniE603:before {
	content: "\e603";
}
.icon-uniE604:before {
	content: "\e604";
}
.icon-uniE605:before {
	content: "\e605";
}
.icon-uniE606:before {
	content: "\e606";
}
.icon-uniE607:before {
	content: "\e607";
}
.icon-uniE608:before {
	content: "\e608";
}
.icon-uniE609:before {
	content: "\e609";
}
.icon-uniE60A:before {
	content: "\e60a";
}
.icon-uniE60B:before {
	content: "\e60b";
}
.icon-uniE60C:before {
	content: "\e60c";
}
.icon-uniE60D:before {
	content: "\e60d";
}
.icon-uniE60E:before {
	content: "\e60e";
}
.icon-uniE60F:before {
	content: "\e60f";
}
.icon-uniE610:before {
	content: "\e610";
}
.icon-uniE611:before {
	content: "\e611";
}
.icon-uniE612:before {
	content: "\e612";
}
.icon-uniE613:before {
	content: "\e613";
}
.icon-uniE614:before {
	content: "\e614";
}
.icon-uniE615:before {
	content: "\e615";
}
.icon-uniE616:before {
	content: "\e616";
}
.icon-uniE617:before {
	content: "\e617";
}
.icon-uniE618:before {
	content: "\e618";
}
.icon-uniE619:before {
	content: "\e619";
}
.icon-uniE61A:before {
	content: "\e61a";
}
.icon-uniE61B:before {
	content: "\e61b";
}
.icon-uniE61C:before {
	content: "\e61c";
}
.icon-uniE61D:before {
	content: "\e61d";
}
.icon-uniE61E:before {
	content: "\e61e";
}
.icon-uniE61F:before {
	content: "\e61f";
}
.icon-uniE620:before {
	content: "\e620";
}
.icon-uniE621:before {
	content: "\e621";
}
.icon-uniE622:before {
	content: "\e622";
}
.icon-uniE63E:before {
	content: "\e63e";
}
.icon-uniE763:before {
	content: "\e763";
}
.icon-pencil:before {
	content: "\e623";
}
.icon-remove:before {
	content: "\e624";
}
