extends page
block page
  include menu
  include lang-bar
  include slideshow
  include welcome
  include products
  include tourism
  include ecologic
  include winery
  include about
  include location
  include contact
