div.l-col--12-of-12.background__color--neutral-soft.bg__texture--noise.spacer__padding-right--size-small.spacer__padding-left--size-small.spacer__padding-top--size-xlarge.spacer__padding-bottom--size-xxlarge
  div(class=blocks['text-area--neutral'])
    h2= __("bienvenido")
    h4= __("bienvenido2")
    p!= __("bienvenido3")
  
  div(id="products") 
